.career-box-1 {
  .menu-degrade {
    width: 100%;
    height: 64px;
    background-image: linear-gradient(#e0dacc, transparent);
    position: absolute;
    z-index: 1;
    top: 0;
  }
  .featured-image {
    position: relative;
    width: 100%;
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .list-about-jobs {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 66px;
  }
  .content {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.career-box-2 {
  position: relative;
  padding-top: 174px;
  .bg-career-box-2 {
    position: absolute;
    top: 20px;
    right: 0;
    width: 821px;
    height: 272px;
    overflow: hidden;
    .bg-career-box-2-diversity {
      width: 821px;
      height: 272px;
      background: url(../images/career-box-2-diversity.png);
      background-size: 821px 272px;
    }
  }
  .content {
    padding-left: 24px;
    padding-right: 24px;
    .content-text {
      max-width: 361px;
    }
    .career-box-2-list {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-column-gap: 24px;
    }
  }
}

.career-box-3 {

  .divider {
    border-top: solid 2px rgba(255, 255, 255, 0.32);
    height: 0.1px;
    width: 100%;
    margin: 64px 0;
  }

  .content {
    padding-left: 24px;
    padding-right: 24px;
    .line {
      height: 1px;
      background: #979797;
      width: 100%;
    }

    .career-box-3-list {
      display: grid;
      display: grid;
      grid-template-columns: auto;
      grid-column-gap: 24px;
      .jobs {
        .type-job {
          color: #1a9eb8;
          padding: 8px;
          border-radius: 5px;
          border: solid 1px #1a9eb8;
          font-size: 14px;
        }

      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  html {
    body {

    }
  }
}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 960px) {

  html {
    body {
      .career-box-1 {
        .featured-image {
          height: 360px;
          background-attachment: inherit;
        }
        .content {
          padding: 32px 16px;
          overflow: hidden;
          .link {
            display: none;
          }
          .list-about-jobs {
            display: grid;
            grid-template-columns: auto;
            grid-row-gap: 16px;
            p {
              font-size: 16px;
              line-height: 1.5;
            }

          }
        }
      }
      .career-box-2 {
        padding-top: 16px;
        .bg-career-box-2 {
          position: relative;
          top: 0px;
          right: 0;
          left: 0;
          width: 100%;
          height: 272px;
          .bg-career-box-2-diversity {
            position: relative;
            width: 100%;
            height: 272px;
            background: url(../images/career-box-2-diversity.png) no-repeat center center;
            background-size: cover;
          }
        }

        .content {
          padding-left: 16px;
          padding-right: 16px;
          overflow: hidden;
          .content-text {
            max-width: 100%;
            margin-top: 32px;
            h2 {
              font-size: 24px;
              line-height: 1.25;
            }
          }

          .career-box-2-list {
            margin-top: 16px;
            grid-template-columns: auto;
            grid-row-gap: 16px;
            p {
              font-size: 16px;
              line-height: 1.5;
            }
            h3 {
              margin-top: 32px;
              font-size: 24px;
              line-height: 1.25;
              font-weight: normal;
            }
          }
        }
      }

      .career-box-3 {
        .divider {
          margin: 48px 0;
        }
        .content {
          overflow: hidden;
          padding-left: 16px;
          padding-right: 16px;
          h2 {
            font-size: 24px;
            line-height: 1.25;
          }
          .jobs {
            h3 {
              font-size: 18px;
              line-height: 1.44;
            }
            p {
              flex-direction: column;
              justify-content: start;
              align-items: flex-start;
              font-size: 16px;
              line-height: 1.5;
              span {
                margin: 0;
                &.type-job {
                  margin-top: 8px;
                  font-size: 14px;
                  line-height: 1;
                }
              }

            }
          }
        }
      }
    }
  }

}
