.home-box-1 {
  background-color: #e8e3d8;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  .home-box-1-bg-square {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../images/home-bg-box-1.png) repeat;
  }
  .home-chess {
    background: url(../images/home-chess.png) no-repeat;
    width: 800px;
    height: 1600px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .home-content {
    position: relative;
    left: 169px;
    z-index: 1;
    .chess-piece {
      display: none
    }
    h1 {
      font-size: 38px;
      font-weight: 300;
      line-height: 1.26;
      color: #41354b;
      margin: 0;
      padding: 0;
    }
    p {
      padding: 0;
      margin: 16px 0 0 0;
      font-size: 38px;
      line-height: 1.26;
      color: #41354b;
    }
    a {
      padding: 0;
      margin: 31px 0 0 0;
      font-family: 'Covered By Your Grace', cursive;
      font-size: 32px;
      line-height: 1.13;
      color: #1a9eb8;

      text-align: center;
      display: flex;
      align-items: center;
      justify-content: start;

      img {
        width: 24px;
        margin-left: 16px;
      }
    }
  }
}

.home-box-2 {
  background-color: #bfd4db;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  .home-box-2-bg-lines {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../images/home-bg-box-2.png) repeat;
  }

  .home-content {
    position: relative;
    left: 169px;
    z-index: 1;
    .chess-piece-horse {
      display: none;
    }
    p {
      padding: 0;
      margin: 16px 0 0 0;
      font-size: 38px;
      line-height: 1.26;
      color: #41354b;
    }
    a {
      padding: 0;
      margin: 31px 0 0 0;
      font-family: 'Covered By Your Grace', cursive;
      font-size: 32px;
      line-height: 1.13;
      color: #1a9eb8;

      text-align: center;
      display: flex;
      align-items: center;
      justify-content: start;

      img {
        width: 24px;
        margin-left: 16px;
      }
    }
  }
}

.home-box-3 {
  background-color: #e3e5db;
  position: relative;

  .home-content {
    margin-top: 125px;
    position: relative;
    max-width: 1240px;
    width: 100%;
    padding: 0 16px;
    h2 {
      font-size: 38px;
      color: #41354b;
      line-height: 1.26;
      margin: 0;
    }

    ul {
      margin: 48px 0 0 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li {
        margin: 0 0 0 24px;
        &:first-of-type {
          margin: 0;
        }
        h3 {
          font-size: 24px;
          font-weight: 700;
          line-height: 1.25;
          color: #41354b;
          margin: 24px 0 0 0;
        }

        p {
          font-size: 16px;
          line-height: 1.5;
          color: #555555;
          margin: 16px 0 0 0;
        }
      }
    }

    .link {
      margin: 48px 0 64px 0;
      height: 49px;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }

    }

    a {
      padding: 0;
      margin: 31px 0 0 0;
      font-family: 'Covered By Your Grace', cursive;
      font-size: 32px;
      line-height: 1.13;
      color: #1a9eb8;
      img {
        width: 24px;
        margin-left: 16px;
      }
    }
  }
}

.home-box-4 {
  background-color: #ffffff;
  position: relative;

  .home-content {
    margin-top: 125px;
    position: relative;
    max-width: 1240px;
    width: 100%;
    padding: 0 16px;
    h2 {
      font-size: 38px;
      color: #41354b;
      line-height: 1.26;
      margin: 0;
      text-align: center;
    }

    .partners {
      margin-top: 48px;
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      grid-column-gap: 24px;
      grid-row-gap: 24px;
    }
  }
}

.home-box-5 {
  background-color: #e0dacc;
  position: relative;

  .home-content {
    margin-top: 125px;
    position: relative;
    max-width: 1240px;
    width: 100%;
    padding: 0 16px;
    h2 {
      font-size: 38px;
      font-weight: 500;
      color: #41354b;
      line-height: 1.26;
      margin: 0;
    }

    .home-blog {
      margin-top: 48px;
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        li {
          display: flex;
          flex-direction: row;
          justify-content: start;
          padding: 24px 0;
          border-bottom: solid 2px rgba(255, 255, 255, 0.32);
          &:first-of-type {
            padding-top: 0;
          }
          &:last-of-type {
            border: none;
          }
          h3 {
            color: #41354b;
            font-size: 18px;
            font-weight: 700;
            margin: 0;
          }
          .line-1 {
            margin-top: 8px;
            .category {
              font-size: 14px;
              font-weight: 500;
              line-height: 1.57;
              color: #1a9eb8;
              text-transform: uppercase;
            }
            .author {
              margin-left: 24px;
              font-size: 14px;
              line-height: 1.57;
              color: #555555;
            }
          }

          .line-2 {
            margin-top: 8px;
            &.description {
              * {
                display: none;

              }
              p {
                width: 100%;
                max-width: 1240px;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-all;
                &:first-of-type {
                  display: block;
                }
              }
              div {
                display: none;
              }
            }
          }

          .line-3 {
            margin-top: 16px;
            // d-flex flex-row justify-content-start align-content-center
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            .date {
              font-size: 12px;
              line-height: 1.5;
              color: #555555;
            }
            .permalink {
              font-size: 12px;
              line-height: 1.5;
              color: #555555;
              text-transform: uppercase;
              margin-left: 24px;

              display: flex;
              align-items: center;
              justify-content: center;

              img {
                margin-left: 8px;
                width: 16px;
              }
            }
          }
          a {
          }
        }
      }

      .link {
        margin: 48px 0 64px 0;
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0;
        font-family: 'Covered By Your Grace', cursive;
        font-size: 32px;
        line-height: 1.13;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #1a9eb8;
          img {
            width: 24px;
            margin-left: 16px;
          }
        }
      }

    }

  }
}

.home-box-6 {
  border-top: solid 2px #ffffff;
  background-color: #e0dacc;
  position: relative;

  .home-content {
    margin-top: 125px;
    position: relative;
    max-width: 779px;
    width: 100%;
    padding: 0 16px;
    .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      h2 {
        font-size: 38px;
        font-weight: 500;
        color: #41354b;
        line-height: 1.26;
        margin: 0;
      }
    }

    .home-form {
      margin-top: 32px;
      form {
        ::placeholder {
          color: #958c9d;
        }

        .your-name {
          input {
            border-radius: 8px 8px 0 0;
          }
        }
        input {
          width: 100%;
          height: 56px;
          background-color: rgba(245, 244, 244, 1);
          border: none;
          box-shadow: inset 0 -2px 0 0 #f1ebe1;
          padding: 0 20px;
          color: #958c9d;
          font-size: 14px;
        }
        textarea {
          border-radius: 0 0 8px 8px;
          width: 100%;
          background-color: rgba(245, 244, 244, 1);
          border: none;
          color: #958c9d;
          font-size: 14px;
          padding: 16px 20px;
        }

        button {
          border: none;
          background-color: transparent;
          padding: 0;
          margin: 31px 0 64px 0;
          font-family: 'Covered By Your Grace', cursive;
          font-size: 32px;
          line-height: 1.13;
          color: #1a9eb8;
          width: 100%;
          text-align: right;
          img {
            width: 24px;
          }
        }
      }
    }

  }
}

@media only screen and (max-width: 1024px) {
  html {
    body {
      .home-box-1 {
        .home-chess {
          background-position: top right;
          background-size: 70%;
        }
      }

      .home-box-4 {
        .home-content {
          .partners {
            ul {
              overflow-y: scroll;
              li {

              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .home-box-1 {
    .home-chess {
      background-position: top right;
      background-size: 60%;
    }
  }
}

@media only screen and (max-width: 960px) {
  .home-box-1 {
    .home-chess {
      display: none;
    }
    .home-content {
      position: relative;
      left: 0px;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      .chess-piece {
        display: block;
        width: 48px;
        height: 145px;
        background: url(../images/home-chess-piece.png) no-repeat;
        background-size: 48px 145px;
        margin-top: 61px;
      }
      h1 {
        font-size: 24px;
        text-align: center;
        margin-top: 24px
      }
      p {
        font-size: 24px;
        text-align: center
      }
      a {
        font-size: 24px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          margin-left: 8px;
        }
      }
    }
  }

  .home-box-2 {
    .home-content {
      position: relative;
      left: 0px;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      z-index: 1;
      padding: 0 16px;
      .chess-piece-horse {
        display: block;
        width: 64px;
        height: 115px;
        background: url(../images/home-chess-piece-horse.png) no-repeat;
        background-size: 64px 115px;
        margin-top: 61px;
      }
      p {
        font-size: 18px;
        text-align: center;
        line-height: 1.66;
        font-weight: normal;

      }
      a {
        font-size: 24px;
        img {
          margin-left: 8px;
        }
      }
    }
  }

  .home-box-3 {
    .home-content {
      margin-top: 48px;
      max-width: 100%;
      width: 100%;
      padding: 0 16px;
      h2 {
        font-size: 24px;
        color: #41354b;
        font-weight: normal;
      }

      ul {
        margin: 48px 0 0 0;
        padding: 0;
        list-style: none;
        overflow-y: scroll;
        li {
          min-width: 224px;
          margin: 0 0 0 40px;
          &:first-of-type {
            margin: 0;
          }
          h3 {
            font-size: 18px;
            margin: 16px 0 0 0;
          }

          p {
            font-size: 14px;
            margin: 8px 0 0 0;
          }
        }
      }

      .link {
        margin: 48px 0 64px 0;
        height: 49px;
        justify-content: start;
        a {
          font-size: 24px;
        }
      }
    }
  }

  .home-box-4 {
    background-color: #ffffff;
    position: relative;

    .home-content {
      margin-top: 72px;
      max-width: 100%;

      h2 {
        font-size: 24px;
        font-weight: normal;
      }

      .partners {
        overflow-y: scroll;
        margin-top: 32px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 16px;
        grid-row-gap: 32px;
      }
    }
  }

  .home-box-5 {
    .home-content {
      margin-top: 48px;
      max-width: 100%;
      width: 100%;
      padding: 0 16px;
      h2 {
        font-size: 24px;
        font-weight: normal;
      }

      .home-blog {
        margin-top: 32px;
        ul {
          flex-direction: row;
          overflow-y: scroll;
          li {
            flex-direction: column;
            width: 224px;
            margin-left: 34px;
            border-bottom: none;
            padding: 0 0 24px 0;
            &:first-of-type {
              padding-top: 0;
              margin-left: 0;
            }
            &:last-of-type {
              border: none;
            }
            h3 {
              color: #41354b;
              font-size: 18px;
              font-weight: 700;
              margin: 0;
            }
            .line-1 {
              margin-top: 8px;
              display: flex;
              flex-direction: column;
              .category {
                font-size: 14px;
                font-weight: 500;
                line-height: 1.57;
                color: #1a9eb8;
                text-transform: uppercase;
              }
              .author {
                margin-top: 8px;
                margin-left: 0;
                font-size: 14px;
                line-height: 1.57;
                color: #555555;
              }
            }

            .line-2 {
              margin-top: 8px;
              &.description {

                overflow: hidden;
                * {
                  width: 224px;
                  display: none;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  word-break: break-all;
                  font-size: 14px;
                }
                p {
                  width: 224px;
                  &:first-of-type {
                    display: block;
                  }
                }
                div {
                  display: none;
                }
              }
            }

            .line-3 {
              margin-top: 16px;
              justify-content: space-between;
              .date {
                font-size: 12px;
                line-height: 1.5;
                color: #555555;
              }
              .permalink {
                font-size: 12px;
                line-height: 1.5;
                color: #555555;
                text-transform: uppercase;
                margin-left: 24px;
                img {
                  margin-left: 16px;
                  width: 16px;
                }
              }
            }
            a {
            }
          }
        }

        .link {
          margin: 48px 0 50px 0;
          height: 49px;
          justify-content: start;
          a {
            font-size: 24px;
            font-weight: normal;
            margin: 0;

          }
        }
      }
    }
  }

  .home-box-6 {
    .home-content {
      margin-top: 46px;
      position: relative;
      max-width: 779px;
      width: 100%;
      padding: 0 16px;
      .title {
        h2 {
          font-size: 24px;
          font-weight: normal;
          margin-right: 21px;
        }
        .image {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          img {
            width: 80px;
          }
        }
      }

      .home-form {
        margin-top: 24px;
        form {
          button {
            font-size: 24px;
            font-weight: normal;
            img {
              width: 24px;
              margin-left: 8px;
            }
          }
        }
      }

    }
  }

}
