/* ==========================================================================
	Imports
/* ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@import 'reset',
'variables',
'header',
'utils-spaces',
'utils',
'form',
'home-page',
'about-page',
'solutions-page',
'career-page',
'contact-page',
'footer';


/* ==========================================================================
	Base
/* ========================================================================== */

html, body {
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  font-family: 'Roboto', sans-serif;
  -webkit-overflow-scrolling: touch; /* deixa a rolagem suave */
}

html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: 'Roboto', sans-serif;
  color: $color_body_copy;
}

body {
  height: 100%;
  margin: 0;
  font-size: $size_base;
  line-height: 1.4;
  background: #e1e1e1;
}

/*	Apply to all elements. In a responsive design, this is almost always a good idea */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
	Links
/* ========================================================================== */



/* ==========================================================================
	Typography
/* ========================================================================== */

/* Content Block Elements */

dl,
menu,
ol,
ul,
p,
pre {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Paragraphs */

p {
}

/* Lists */

menu,
ol,
ul {
  padding: 0;
}

/* Selection Colors */

::-moz-selection {
  background: $color_body_copy;
  color: $color_opposite;
  text-shadow: none;
}

::selection {
  background: $color_body_copy;
  color: $color_opposite;
  text-shadow: none;
}

/* =============================================================================
	Helper Classes
/* ========================================================================== */

/* Prefixed with tags to override default tag styling for these elemets if .button is added */

button,
.button,
a.button,
input.button {
  display: inline-block;
}

button:focus,
.button:focus,
a.button:focus,
input.button:focus,
button:hover,
.button:hover,
a.button:hover,
input.button:hover {
}

button:active,
.button:active,
a.button:active,
input.button:active {
}

/* Responsive Media Styles */

.media {
  /* Set width on this selector based on design and needs */
}

.media img,
.media video,
.media object,
.media iframe {
  width: 100%;
  height: auto;
}

/* Clear Fix */

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


/* =============================================================================
	Structural Styles, Media Queries & Page Styling
/* ========================================================================== */

/* Less than 320px but will apply at all sizes */

#page-wrap {
  margin: 0 auto;
  -webkit-box-shadow: 0 0 $size_base * 3 0 #444;
  box-shadow: 0 0 $size_base * 3 0 #444;
}

#page-logo {
  color: $color_opposite;
  a {
    color: $color_opposite;
  }
}

#page-header ul {
  list-style: none;
  padding: 0;
  li {
  }
}

/* Content */

body {
  #content-wrap {
    padding: 0 0 0 0;
    background: #fff;
  }

  &.logged-in {
    #content-wrap {
    }
  }
}

.article {
  border-bottom: 1px solid #444;
}

.article-header {
}

.article-title {
  a {
    text-decoration: none;
  }
}

.article-info {
}

/* Sidebar */

#page-sidebar {

}

.search-form {

}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #41354b;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.display-none{
  display: none !important;
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

/* 320px to 479px */

@media only screen and (min-width: 320px) {
}

/* 480px to 639px */

@media only screen and (min-width: 480px) {

}

/* 640px to 767px */

@media only screen and (min-width: 640px) {
}

/* 768px to 1024px */

@media only screen and (min-width: 768px) {

}

/* 1024px to 1534px */

@media only screen and (min-width: 1024px) {

}

/* More than 1534px */

@media only screen and (min-width: 1535px) {
}

/* High PX Density */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
  #page-header {
    background: url($images_dir + 'black_lozenge_@2X.png');
  }
  .search-form {
    background: url($images_dir + 'black_lozenge_@2X.png');
  }
}