.content h1 {
  font-family: Roboto;
  font-size: 38px;
  font-weight: normal;
  line-height: 1.26;
}
.content h2 {
  font-size: 38px;
  font-weight: 500;
  line-height: 1.26;
}
.content p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: normal;
  color: #41354b;
}

.font-family-grace {
  font-family: 'Covered By Your Grace', cursive;
}
.font-family-roboto {
  font-family: 'Roboto', sans-serif;
}
.font-size-38 {
  font-size: 38px;
}
.font-size-32 {
  font-size: 32px;
}
.font-size-24 {
  font-size: 24px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-12 {
  font-size: 12px;
}
.font-weight-normal {
  font-weight: normal;
}
.font-weight-light {
  font-weight: 300;
}
.font-weight-semi-bold {
  font-weight: 500;
}
.font-weight-bold {
  font-weight: 700;
}

.color-purple {
  color: #41354b;
}
.color-blue {
  color: #1a9eb8;
}
.color-white {
  color: #fff;
}

.bg-green {
  background-color: #d2e4c6;
}
.bg-light-grey {
  background-color: #eceae3;
}
.bg-dark-grey {
  background-color: #787878;
}
.bg-white {
  background-color: #ffffff;
}

.margin-top-128 {
  margin-top: 128px;
}
.margin-top-88 {
  margin-top: 88px;
}
.margin-top-80 {
  margin-top: 80px;
}
.margin-top-64 {
  margin-top: 64px;
}
.margin-top-48 {
  margin-top: 48px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-16 {
  margin-top: 16px;
}
.margin-top-8 {
  margin-top: 8px;
}
.margin-top-4 {
  margin-top: 4px;
}
.margin-bottom-128 {
  margin-bottom: 128px;
}
.margin-bottom-88 {
  margin-bottom: 88px;
}
.margin-bottom-80 {
  margin-bottom: 80px;
}
.margin-bottom-64 {
  margin-bottom: 64px;
}
.margin-bottom-48 {
  margin-bottom: 48px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-16 {
  margin-bottom: 16px;
}
.margin-bottom-8 {
  margin-bottom: 8px;
}
.margin-bottom-4 {
  margin-bottom: 4px;
}
.margin-left-128 {
  margin-left: 128px;
}
.margin-left-88 {
  margin-left: 88px;
}
.margin-left-80 {
  margin-left: 80px;
}
.margin-left-64 {
  margin-left: 64px;
}
.margin-left-48 {
  margin-left: 48px;
}
.margin-left-40 {
  margin-left: 40px;
}
.margin-left-20 {
  margin-left: 20px;
}
.margin-left-16 {
  margin-left: 16px;
}
.margin-left-8 {
  margin-left: 8px;
}
.margin-left-4 {
  margin-left: 4px;
}
.margin-right-128 {
  margin-right: 128px;
}
.margin-right-88 {
  margin-right: 88px;
}
.margin-right-80 {
  margin-right: 80px;
}
.margin-right-64 {
  margin-right: 64px;
}
.margin-right-48 {
  margin-right: 48px;
}
.margin-right-40 {
  margin-right: 40px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-right-16 {
  margin-right: 16px;
}
.margin-right-8 {
  margin-right: 8px;
}
.margin-right-4 {
  margin-right: 4px;
}

.padding-top-128 {
  padding-top: 128px;
}
.padding-top-88 {
  padding-top: 88px;
}
.padding-top-80 {
  padding-top: 80px;
}
.padding-top-64 {
  padding-top: 64px;
}
.padding-top-48 {
  padding-top: 48px;
}
.padding-top-40 {
  padding-top: 40px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-top-16 {
  padding-top: 16px;
}
.padding-top-8 {
  padding-top: 8px;
}
.padding-top-4 {
  padding-top: 4px;
}
.padding-bottom-128 {
  padding-bottom: 128px;
}
.padding-bottom-88 {
  padding-bottom: 88px;
}
.padding-bottom-80 {
  padding-bottom: 80px;
}
.padding-bottom-64 {
  padding-bottom: 64px;
}
.padding-bottom-48 {
  padding-bottom: 48px;
}
.padding-bottom-40 {
  padding-bottom: 40px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.padding-bottom-16 {
  padding-bottom: 16px;
}
.padding-bottom-8 {
  padding-bottom: 8px;
}
.padding-bottom-4 {
  padding-bottom: 4px;
}
.padding-left-128 {
  padding-left: 128px;
}
.padding-left-88 {
  padding-left: 88px;
}
.padding-left-80 {
  padding-left: 80px;
}
.padding-left-64 {
  padding-left: 64px;
}
.padding-left-48 {
  padding-left: 48px;
}
.padding-left-40 {
  padding-left: 40px;
}
.padding-left-20 {
  padding-left: 20px;
}
.padding-left-16 {
  padding-left: 16px;
}
.padding-left-8 {
  padding-left: 8px;
}
.padding-left-4 {
  padding-left: 4px;
}
.padding-right-128 {
  padding-right: 128px;
}
.padding-right-88 {
  padding-right: 88px;
}
.padding-right-80 {
  padding-right: 80px;
}
.padding-right-64 {
  padding-right: 64px;
}
.padding-right-48 {
  padding-right: 48px;
}
.padding-right-40 {
  padding-right: 40px;
}
.padding-right-20 {
  padding-right: 20px;
}
.padding-right-16 {
  padding-right: 16px;
}
.padding-right-8 {
  padding-right: 8px;
}
.padding-right-4 {
  padding-right: 4px;
}

.border-raidus {
  border-radius: 50%;
}

.display-flex {
  display: flex;
}
.display-block {
  display: block;
}
.display-none {
  display: none;
}

.flex-direction-row {
  flex-direction: row;
}
.flex-direction-column {
  flex-direction: row;
}

.flex-align-all-center {
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=utils.css.map */
